@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --preto: #272727;
    --amarelo:#e4c931;
    --branco: #FAFFD8;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

table {
    width: 100vw;
    border-collapse: separate;
    margin-bottom: 20px;
    border-spacing: 0;
}
main{
    position: fixed;
    height: calc(100vh - 50px);
    width: 100vw;
    top: 50px;
    overflow: scroll;
}
th, td {
    border: 1px solid var(--preto);
    padding: 8px;
    text-align: center;
}

th {
    background-color: var(--branco);
    color: var(--preto);
}

caption {
    background-color: var(--amarelo);
    font-weight: bold;
    padding: 15px;
    width: 100vw;
    position: sticky;
    left: 0;
}
tbody tr td:first-child{
    position: sticky;
    left: 0;
    background-color: var(--branco);
}
thead tr th{
    position: sticky;
    top: 0;
    background-color: var(--branco);
    z-index: 1;
    border: 1px solid var(--preto);
}
thead tr th:first-child{
    left: 0;
    z-index: 2;
}
nav{
    position: fixed;
    width: 100vw;
    left: 0;
    top: 0;
    background-color: var(--preto);
    z-index: 3;
    border-bottom: 1px solid;

}
nav ul{
    justify-content: space-around;
    display: flex;
    height: 50px;
    align-items: center;
}
nav ul a{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--amarelo);
    flex-grow: 1;
    text-align: center;
    color: var(--preto);
    font-size: 1.5em;
    text-decoration: none;
    transition: filter 500ms, font-size 250ms;
}
li{
    list-style: none;
}
nav ul a:hover{
    filter: brightness(1.2);
    font-size: 2em;
}
a.active{
    text-decoration: underline !important;
    
}
tbody tr:nth-child(even){
    filter: brightness(0.9);
    background-color: var(--branco); 
}
@media (max-width: 768px) {
    table, th, td {
        font-size: 12px;
    }
}

h1{
    text-align: center;
}

p{
    text-align: center;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    text-align: center;
}

.resumo1{
    background-color: var(--branco);
    color: var(--preto);
}

.resumo2{
    background-color: var(--preto);
    color: var(--branco);
}

.resumo{
    height: 300px;
}
